*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu';
    font-style: normal;    
}

a {
    text-decoration: none;
    display: inline-block;    
}

.content {
    height: 100vh;    
    background-image: url(../Images/BG.png);
    background-position: center;
    background-size: cover;
}

.wrapper {
    margin: auto;
    width: 1366px;    
}

.navbar {
    width: auto;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}

.journey {   
    display: inline-block; 
    color: white;
    padding-top: 18px;
    padding-left: 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.journey:hover {
    color:#3CB878;
    transition: 0.5s;
}

.link-box {
    display: flex;
    justify-content: space-between;
}

.link-logos {
    width: 341px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link-image {
    display: inline-block;
    margin-right: 24px;
}

.calendar {
    width: 21px;
    height: 24px;
}

.email {
    width: 24px;
    height: 24px;
}

.compass {
    width: 23px;
    height: 24px;
}

svg:hover path {
    fill: #01813F;
    transition: 0.5s;
}

.links {
    color: white;    
    width: 341px;
    text-align: middle;
    padding: 22px 0 0 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.link {
    color: white;
}

.log-in:hover {
    color: #3CB878;
    transition: 0.5s;
}

.sign-up:hover {
    color: #3CB878;
    transition: 0.5s;
}

.window {
    width: 444px;
    height: 584px;
    margin: auto;
    background-color: white;
}

.window-wrapper {
    width: 444px;
    height: 584px;
    padding-bottom: 38px;
    padding-left: 61px;
    padding-right: 61px;
}

.window-top {   
    display: inline-block;
    padding-top: 29px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.sign-up-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;   
}

.sign-up-text::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    margin-right: 43px;      
}

.window-log-in {
    color: #3CB878;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
}

.window-log-in:hover {
    color:#01813F;
    text-decoration: underline;
    transition: 0.5s;
}

.button-box {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;    
}

.button {
    width: 160px;
    height: 48px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;    
}

.facebook {
    padding: 12px 0 12px 17px;
    background-color: #305DB8;       
}

.facebook:hover {
    background-color: #022263;
    transition: 0.5s;
}

.facebook-name {
    padding-right: 22px;
    padding-top: 5px;    
}

.facebook-name::before {    
    content: "";
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    margin-right: 18px;
    height: 28px;
}
    
.f-logo {
    width: 13px;
    height: 24px;    
}

.google {
    padding: 15px 27px 14px 12px;
    background-color: #DF4A32;
}

.google:hover {
    background-color: #AB1F09;
    transition: 0.5s;
}

.google-name {
    padding-left: 8px;
    padding-top: 2px;
}

.google-name::before {
    content: "";
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    margin-right: 30px;
}

.or {
    display: block;
    text-align: center;
    color:#848484;
    margin-top: 31px;    
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.or::before {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 150px;
    display: inline-block;
    margin: 0 4px 3px 2px;
    color: #F2F2F2;
}

.or::after {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 150px;
    display: inline-block;
    margin: 0 2px 3px 0;      
}

.form {    
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.form-text {
    width: 322px;
    font-family: 'Ubuntu';
    font-style: normal;  
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-top: 16px;
    padding-left: 20px;  
} 

.first {
    margin-top: 12px;
}

.form-text::placeholder {
    color: #BEBEBE;       
}

.form-text:focus {
    position: relative;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    padding-left: 20px;  
}

.label {
    margin-top: 12px;    
    display: flex;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: relative;
}

.fake::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../Images/chekbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

.checkbox:checked + .fake:before {
    opacity: 1;
}

.checkbox::placeholder {
    outline: none;
}

.checkbox:focus {
    background-color: none;
    color:green;
}

.agreement {
    display: inline-block;
    color: #434343;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
    padding-top: 3px;    
}

.terms {
    color:#3CB878;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.terms:hover {
    color:#01813F;
    text-decoration: underline;
    transition: 0.5s;
}

.create-btn {
    border-radius: 4px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border: none;
    margin-top: 14px;
    height: 46px;
    width: 324px;
    cursor: pointer;       
}

.create-btn:hover {
    background-color: #01813F;
    transition: 0.5s;
}